/*  hsl()函数接受色调、饱和度和亮度表示RGB */
:root {
    --hue: 60;
    --bg: hsl(var(--hue), 100%, 100%);
    --fg: hsl(var(--hue), 10%, 10%);
    --light-sh: hsla(var(--hue), 10%, 95%, 0.5);
    --dark-sh: hsla(var(--hue), 10%, 15%, 0.4);
    --primary: hsl(var(--hue), 90%, 50%);
    --primary-t: hsla(var(--hue), 90%, 50%, 0);
    --trans-dur: 0.3s;
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body,
input {
    font: 1em/1.5 sans-serif;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    /* transition设置属性的动画过度时间，每个属性都可以指定动画的（1）持续时间 （2）动画节奏 （3）延迟时间 */
    transition: background-color var(--trans-dur), color var(--trans-dur);
    overflow-x: hidden;
    font-family: 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Hiragino Sans GB', sans-serif;
    line-height: 1.7;
    letter-spacing: .065em;
}

h1 {
    margin: 60px 0 30px;
    font-size: 40px;
    line-height: 1.2;
}

h1, h1 + p {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align: center;
}

h1 + p a {
    color: #333;
}

/* 作用是在鼠标悬停在<h1>元素后的<p>元素中的<a>元素上时，移除其下划线 */
h1 + p a:hover {
    text-decoration: none;
}

section {
    width: 800px;
    margin: 0 auto;
    padding: 80px 40px;
    border-top: 1px dashed #ddd;
}

section h2 {
    margin-bottom: 40px;
    font-size: 24px;
}

section h3 {
    margin: 20px 0 10px;
}

.cf:after {
    content: '';
    clear: both;
    display: block;
}

.left-area {
    float: left;
    width: 47%;
}

.right-area {
    float: right;
    width: 47%;
}

@media screen and (max-width: 800px) {
    section {
        width: auto;
        padding: 80px 20px;
    }

    .left-area, .right-area {
        float: none;
        width: auto;
    }

    .right-area {
        margin-top: 40px;
    }
}

#section01 {
    border-top: none;
}

#section01 p + p {
    margin-top: 20px;
}

#section01 .example p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#section02 .example::selection {
    background: #000;
    color: #fff;
}

#section02 .example::-moz-selection {
    background: #000;
    color: #fff;
}


#section03 .example {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


#section04 .cf {
    margin-top: 40px;
}

#section04 h3 span {
    color: #aaa;
    font-size: 12px;
    font-weight: normal;
}

#section04 .example01 p {
    letter-spacing: .5em;
}

#section04 .example02 p span,
#section04 .example03 p span {
    font-weight: bold;
    letter-spacing: 1em;
}

#section04 .example03 p span {
    margin-right: -1em;
}


#section05 p {
    text-indent: 2em;
}


#section06 p {
    margin-left: 1em;
    text-indent: 2em;
}


#section07 .example01 p:first-letter {
    font-size: 42px;
    line-height: 1;
}

#section07 .example02 p:first-letter {
    float: left;
    margin-right: .2em;
    padding: .2em;
    background-color: #3498db;
    color: #fff;
    font-size: 36px;
    line-height: 1;
}


#section08 p:first-line {
    color: #3498db;
    font-weight: bold;
}


#section09 table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
}

#section09 table th,
#section09 table td {
    padding: .5em;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
}

#section09 table th {
    background-color: #eee;
}

#section09 table td {
    font-size: 12px;
}

#section09 .example table th {
    white-space: nowrap;
}

#section10 p {
    padding: 1em;
    background-color: #eee;
}

#section10 .example p {
    word-wrap: break-word;
}


#section11 p {
    border: 1px dashed #ddd;
    font-size: 14px;
}

#section11 .example p {
    text-align: justify;
    text-justify: inter-ideograph;
}


#section12 p {
    padding: 1em;
    background-color: #eee;
}

#section12 .example p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


#section13 .example01 p {
    -webkit-transform: scaleX(.8);
    transform: scaleX(.8);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

#section13 .example02 p {
    -webkit-transform: scaleY(.8);
    transform: scaleY(.8);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}


#section14 p {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .2em;
}

#section14 .example01 p {
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1px #000;
}

#section14 .example02 p {
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#section14 .example03 p {
    color: #fff;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


#section15 p {
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

#section15 .example02 p {
    -webkit-transition: .3s;
    transition: .3s;
}

#section15 .example02 p:hover {
    color: #000;
    text-shadow: none;
}


#section16 p {
    background: -webkit-linear-gradient(#3498db 0%, #9b59b6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: bold;
}


#section17 .example strong {
    background: linear-gradient(transparent 60%, rgba(52, 152, 219, .5) 60%);
}


#section18 .cf {
    margin-top: 40px;
}

#section18 .example01 p {
    text-transform: uppercase;
}

#section18 .example02 p {
    text-transform: lowercase;
}

#section18 .example03 p {
    text-transform: capitalize;
}

#section18 .example04 p {
    font-variant: small-caps;
}


#section19 p {
    font-size: 14px;
}

#section19 .example p {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}


#section20 p {
    font-family: 'Hiragino Mincho ProN', YuMincho, '游明朝', 'HG明朝E', serif;
    font-size: 30px;
    font-weight: bold;
}

#section20 .example span:nth-of-type(1) {
    position: relative;
    top: 4px;
    left: 8px;
    margin-left: -.6em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

#section20 .example span:nth-of-type(2) {
    letter-spacing: -0.6em;
}


.switch,
.switch__input {
    -webkit-tap-highlight-color: transparent;
}

.switch {
    display: flex;
    gap: 0.5em;
    align-items: center;
    font-size: 40px;

    /*margin: auto;*/
    position: absolute;
    right: 50px;
    top: 50px;
}

.switch__icon,
.switch__icon-part {
    display: block;
}

.switch__icon {
    position: relative;
    width: 1em;
    height: 1em;
    /* filter属性用于应用滤镜效果，例如模糊、饱和度、对比度等 */
    transition: filter var(--trans-dur);
}

.switch__icon-part {
    background-color: hsla(var(--hue), 10%, 10%, 0.3);
    position: absolute;
    transition: background-color var(--trans-dur), box-shadow var(--trans-dur);
}

.switch__icon--light {
    /* 添加阴影效果，阴影的X轴位置和Y轴位置都是0，模糊度是0.125em，最后是颜色 */
    filter: drop-shadow(0 0 0.125em hsla(var(--hue), 90%, 70%, 0.2));
}

/* 太阳 */
.switch__icon--light .switch__icon-part {
    background-color: hsl(var(--hue), 100%, 60%);
    border-radius: 0.125em;
    top: 50%;
    left: 50%;
    width: 0.125em;
    height: 0.2em;
    transform-origin: 50% 0;
}

/* 太阳圆心 */
.switch__icon--light .switch__icon-part--1 {
    border-radius: 50%;
    /* 在元素的边框上添加阴影效果，用，逗号分割多个阴影效果，inset表示内阴影，可以设置X轴偏移量、Y轴偏移量、模糊半径、扩散半径和颜色 */
    box-shadow: 0 0.0625em 0.0625em var(--dark-sh) inset,
    0 0.0625em 0.0625em var(--light-sh);
    top: 0.3em;
    left: 0.3em;
    width: 0.4em;
    height: 0.4em;
}

.switch__icon--light .switch__icon-part--2 {
    box-shadow: 0 0.0625em 0.0625em var(--dark-sh) inset,
    0 0.0625em 0.0625em var(--light-sh);
    transform: translateX(-50%) rotate(0) translateY(0.3em);
}

.switch__icon--light .switch__icon-part--3 {
    box-shadow: 0.0625em 0.0625em 0.0625em var(--dark-sh) inset,
    0.0625em 0.0625em 0.0625em var(--light-sh);
    transform: translateX(-50%) rotate(45deg) translateY(0.3em);
}

.switch__icon--light .switch__icon-part--4 {
    box-shadow: 0.0625em 0 0.0625em var(--dark-sh) inset,
    0.0625em 0 0.0625em var(--light-sh);
    transform: translateX(-50%) rotate(90deg) translateY(0.3em);
}

.switch__icon--light .switch__icon-part--5 {
    box-shadow: 0.0625em -0.0625em 0.0625em var(--dark-sh) inset,
    0.0625em -0.0625em 0.0625em var(--light-sh);
    transform: translateX(-50%) rotate(135deg) translateY(0.3em);
}

.switch__icon--light .switch__icon-part--6 {
    box-shadow: 0 -0.0625em 0.0625em var(--dark-sh) inset,
    0 -0.0625em 0.0625em var(--light-sh);
    transform: translateX(-50%) rotate(180deg) translateY(0.3em);
}

.switch__icon--light .switch__icon-part--7 {
    box-shadow: -0.0625em -0.0625em 0.0625em var(--dark-sh) inset,
    -0.0625em -0.0625em 0.0625em var(--light-sh);
    transform: translateX(-50%) rotate(225deg) translateY(0.3em);
}

.switch__icon--light .switch__icon-part--8 {
    box-shadow: -0.0625em 0 0.0625em var(--dark-sh) inset,
    -0.0625em 0 0.0625em var(--light-sh);
    transform: translateX(-50%) rotate(270deg) translateY(0.3em);
}

.switch__icon--light .switch__icon-part--9 {
    box-shadow: -0.0625em 0.0625em 0.0625em var(--dark-sh) inset,
    -0.0625em 0.0625em 0.0625em var(--light-sh);
    transform: translateX(-50%) rotate(315deg) translateY(0.3em);
}


/* 月亮 */
.switch__icon--dark {
    filter: drop-shadow(0 0 0.125em hsla(var(--hue), 90%, 70%, 0))
    drop-shadow(0 0.0625em 0.0625em var(--light-sh));
}

.switch__icon--dark .switch__icon-part--1 {
    background-color: transparent;
    border-radius: 50%;
    clip-path: url(#moon);
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.switch__icon--dark .switch__icon-part--1a {
    border-radius: 50%;
    box-shadow: 0 0.0625em 0.0625em var(--dark-sh) inset;
    width: 100%;
    height: 100%;
}

.switch__icon--dark .switch__icon-part--1b {
    background-color: transparent;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.switch__icon--dark .switch__icon-part--1b:before {
    background-color: var(--bg);
    border-radius: 50%;
    box-shadow: 0 0.0625em 0.0625em var(--dark-sh),
    0 0.0625em 0.0625em var(--light-sh) inset;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: auto;
    transition: background-color var(--trans-dur);
    width: 62.5%;
    height: 62.5%;
}

.switch__input {
    background-color: hsla(var(--hue), 10%, 10%, 0.1);
    border-radius: 0.75em;
    box-shadow: 0 0.0625em 0.125em var(--dark-sh) inset,
    0 0.0625em 0.125em var(--light-sh),
    0 0 0 0.125em var(--primary-t);
    display: block;
    outline: transparent;
    position: relative;
    width: 2.5em;
    height: 1.5em;
    transition: box-shadow var(--trans-dur);
    -webkit-appearance: none;
    appearance: none;
}

.switch__input:focus-visible {
    box-shadow: 0 0.0625em 0.125em var(--dark-sh) inset,
    0 0.0625em 0.125em var(--light-sh),
    0 0 0 0.125em var(--primary);
}

.switch__input:before {
    background-color: var(--primary);
    border-radius: 50%;
    box-shadow: 0 0.0625em 0.125em hsla(var(--hue), 10%, 10%, 0.5);
    content: "";
    display: block;
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    width: 1em;
    height: 1em;
    transition: background-color var(--trans-dur),
    box-shadow var(--trans-dur),
    transform var(--trans-dur) cubic-bezier(0.65, 0.05, 0.34, 1);
}

.switch__input:checked:before {
    transform: translateX(1em);
}

/* 切换后改变颜色 */
body:has(.switch__input:checked) {
    --hue: 223;
    --bg: hsl(var(--hue), 10%, 30%);
    --fg: hsl(var(--hue), 10%, 90%);
    --light-sh: hsla(var(--hue), 10%, 55%, 0.5);
    --dark-sh: hsla(var(--hue), 10%, 15%, 0.4);
    --primary: hsl(var(--hue), 90%, 60%);
}

body:has(.switch__input:checked) .switch__icon--light {
    filter: drop-shadow(0 0 0.125em hsla(var(--hue), 90%, 75%, 0));
}

body:has(.switch__input:checked) .switch__icon--light .switch__icon-part {
    background-color: hsla(var(--hue), 10%, 10%, 0.3);
}

body:has(.switch__input:checked) .switch__icon--dark {
    filter: drop-shadow(0 0 0.125em hsla(var(--hue), 90%, 75%, 0.6)) drop-shadow(0 0.0625em 0.0625em var(--light-sh));
}

body:has(.switch__input:checked) .switch__icon--dark .switch__icon-part--1a {
    background-color: hsla(var(--hue), 90%, 75%, 1);
}